<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta  name="description" content="HC는 미니멀하고 유니크한 디자인을 지향합니다."> 
    <title>HC | 공식 온라인 스토어 </title>
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/logo_black.ico"/>
    <link rel="stylesheet" href="/css/main.css"/>
</head>

<body>
{{{body}}}
<script src="member_main.js"> </script>
</body>
</html>