<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>HC | 공식 온라인 스토어</title>
	<link rel="shortcut icon" type="image/x-icon" href="/img/logo/logo_black.ico" />
	<style>
		#header,
		p {
			text-align: center;
		}

		html {
			max-width: 1300px;
			min-width: 1050px;
			margin: auto;
		}

		body {
			font-family: Arial, Helvetica, sans-serif;
			width: auto;
			margin: 0;
			padding: 0;
			position: relative;
			padding: 0 10px;
		}

		label {
			margin: 19px 0 8px;
			width: 100%;
			display: inline-block;
			float: left;
		}

		* {
			box-sizing: border-box;

		}

		/* Add padding to containers */
		#container {
			background-color: white;
			width: 60%;
			min-width: 400px;
			box-sizing: border-box;
			margin-left: 20%;
		}


		#join_content {
			overflow: hidden;
			width: 100%;
		}

		label {
			width: 100%;
			display: inline-block;
			float: left;
		}

		.container_signin {
			width: 60%;
			min-width: 400px;
			box-sizing: border-box;
			margin-left: 20%;
		}

		/* Full-width input fields */
		input[type=text],
		input[type=password] {
			width: 100%;
			padding: 15px;
			margin: 5px 0 22px 0;
			display: inline-block;
			border: none;
			background: #f1f1f1;
		}

		input[type=text]:focus,
		input[type=password]:focus {
			background-color: #ddd;
			outline: none;
		}

		/* Overwrite default styles of hr */
		hr {
			border: 1px solid #f1f1f1;
			margin-bottom: 25px;
			width: 100%;
		}

		/* Set a style for the submit button */
		.registerbtn {
			background-color: #4CAF50;
			color: white;
			padding: 16px 20px;
			margin: 8px 0;
			border: none;
			cursor: pointer;
			width: 100%;
			opacity: 0.9;
		}

		.registerbtn:hover {
			opacity: 1;
		}

		/* Add a blue text color to links */
		a {
			color: dodgerblue;
		}

		/* Set a grey background color and center the text of the "sign in" section */
		.signin {
			background-color: #f1f1f1;
			text-align: center;
		}

		.flex_box {
			display: flex;
			justify-content: space-around;
			margin: 5px 0 0 0;
		}

		.userName {
				{
					{
					 !-- background-color: #03658C;
					--
				}
			}

				{
					{
					 !-- width: 50px;
					height: 50px;
					--
				}
			}

			width:49%;
			border-radius: 10px;
		}

		.address {
			border-radius: 10px;
			width: 24%;
		}
	</style>

</head>

<body>
	<div class="wrapper">
		<div id="header">
			<a href="/"><img src="/img/logo/logo_black.png"></a>
		</div>
		<div id="container" role="main">
			<hr>
			<div id="content">
				<div id="join_content">
					<form>
						<!-- 여기서 isMember는 yes로 설정 -->
						<div class="flex_box">
							<div class="userName">
								<label for="first_name"><b>First Name</b></label>
								<input type="text" placeholder="First Name" name="firstName" id="firstName" required>
							</div>
							<div class="userName">
								<label for="last_name"><b>Last Name</b></label>
								<input type="text" placeholder="Last Name" name="lastName" id="lastName" required>
							</div>
						</div>
						<input type="hidden" name="isMember" id="isMember" value="yes">
						<label for="email"><b>Email</b></label>
						<input type="text" placeholder="Email" name="email" id="email" required>
						<label for="psw"><b>Password</b></label>
						<input type="password" placeholder="Enter Password" name="password" id="password" required>
						<label for="rePassword"><b>Repeat Password</b></label>
						<input type="password" placeholder="Repeat Password" name="rePassword" id="rePassword" required>

						<div class="flex_box">
							<div class="address">
								<label for="addressStreet">Address (Street):</label>
								<input class="form-control" id="addressStreet" name="addressStreet" type="text" />
							</div>
							<div class="address">
								<label for="addressCity">Address (City):</label>
								<input class="form-control" id="addressCity" name="addressCity" type="text" />
							</div>
							<div class="address">
								<label for="addressState">Address (State):</label>
								<input class="form-control" id="addressState" name="addressState" type="text" />
							</div>
							<div class="address">
								<label for="addressPostal">Address (Zip Code):</label>
								<input class="form-control" id="addressPostal" name="addressPostal" type="text" />
							</div>
						</div>

						<label for="phone"><b>Phone</b></label>
						<input type="text" placeholder="Phone" name="phone" id="phone" required>


					</form>
				</div>
			</div>
			<hr>

			<p>
				By creating an account you agree to our <a href="#">Terms & Privacy</a>
			</p>

			<button type="button" id="bt_regist" class="registerbtn">Register</button>
		</div>

		<div class="container_signin">
			<p>
				Already have an account? <a href="/member/member/login">Sign in</a>
			</p>
		</div>
	</div>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script src="//d1p7wdleee1q2z.cloudfront.net/post/search.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.24.0/axios.js"></script>
	<script type="text/javascript">
		$(function () {
			checkVali();
			postPop();
		});

		function postPop() {
			$("#showPostCode").postcodifyPopUp();
		}




function checkVali() {
	//아이디 중복되면 false로 바꿀 변수
	let flag = true;

	let bt_re = document.getElementById("bt_regist");
	bt_re.addEventListener('click', () => {
		let email = document.getElementById("email").value
		let password = document.getElementById("password").value
		let repass = document.getElementById("rePassword").value
		let phone = document.getElementById("phone").value

		check_email = email
			.search(/^\s*[\w\~\-\.]+\@[\w\~\-]+(\.[\w\~\-]+)+\s*$/g);
		if (check_email != 0) {
			alert('The email format does not match.');
			document.getElementById("email").focus();
			return;
		}
		axios({
			method: "POST",
			url: "/member/checkMemberExist",
			data: {
				"email": email
			}
		})
		.then((exist) => {
			//데이터 들어있음
			alert(exist.data);
			let result = exist.data;
			console.log("/member/checkMemberExist  ajax:    " + result);
			if (result == true) {
				flag = false;
				alert('The email is already in use.');
				document.getElementById("email").focus();
			} else {
				flag=true;
				if (flag == true) {
					if (password == "") {
						alert("비밀번호를 입력해주세요.");
						document.getElementById("password").focus();
						return;
					} else if (password != repass) {
						alert("비밀번호가 일치하지 않습니다.");
						document.getElementById("password").focus();
						return;
					} else {
						let form = document.querySelector("form");
						form.action = "/member/regist";
						form.method = "POST";
						form.submit();
					}
				} else {
					document.getElementById("email").focus();
				}
			}
		})
		.catch(err => {
			console.log(err);
			res.status(500).send("Unable to Add the Employee");
			return;
		})
	})
}
	</script>
</body>

</html>